:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 100%;
  padding-bottom: 50px;
}
