<div class="player-control-bar">
  <div class="song-info">
    <img class="cover" [src]="currentSong?.picUrl" alt="cover" />
    <div class="info">
      <p class="name">{{ currentSong?.name }}</p>
      <p class="artists">{{ currentSong?.artists }}</p>
    </div>
  </div>
  <div class="control-btns">
    <button (click)="prev()">
      <img [src]="'/assets/previous.svg'" />
    </button>
    <button class="play" (click)="playPause()">
      <img [src]="isPaused ? '/assets/play.svg' : '/assets/pause.svg'" />
    </button>
    <button (click)="next()"><img [src]="'/assets/next.svg'" /></button>
  </div>
  <div class="slider">
    <div class="time">{{ currentTime }}</div>
    <nz-slider
      [nzStep]="0.01"
      [nzMax]="10"
      [nzMin]="0"
      (nzOnAfterChange)="seek($event)"
    ></nz-slider>
    <div class="time">{{ duration }}</div>
  </div>
</div>
